/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Rock Salt', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');

.h1-lg {
    font-family: 'Rock Salt', cursive;
    font-size: 9em;
    left: 41.5%;
    top: 46.8%;
    position: absolute;
    display: inline-block;
    margin-right: 0;
    transform: rotate(-1.8deg);
}

.h1-sm {
    font-family: 'Rock Salt', cursive;
    font-size: 6.5em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: white;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.h5-lg {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    -webkit-text-stroke: .4px #AD7E4B;
    left: 54%;
    top: 82.6%;
    position: absolute;
    display: inline-block;
    color: white;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    color: white;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-color: #242D38;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: white;
}

.contain {
    position: relative;
    color: white;
    text-align: right;
    margin-top: 50px;
    height: 450px;
    margin-bottom: 25px;
}

.contain-sm {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 50px;
    height: 350px;
    margin-bottom: 25px;
}

.brands {
    position: relative;
    color: white;
    border: 2px solid #AD7E4B;
    height: 400px;
    overflow: hidden;
}

.brands-sm {
    position: relative;
    text-align: center;
    color: white;
    border: 2px solid #AD7E4B;
    height: 300px;
    overflow: hidden;
}

button {
    margin-bottom: 1em;
}

.btn-color {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #AD7E4B;
}

/*form:hover {*/
/*    background-color: #7E948D;*/
/*}*/
